# Dependencies
node_modules/

# Builds
/dist/
/*.tgz

# TypeScript
*.tsbuildinfo

# Coverage & test outputs
coverage/
.nyc_output/
.vitest/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env files
.env
.env.*
!.env.example

# Editor & IDE
.vscode/
.idea/
.history/

# OS
.DS_Store
Thumbs.db

# Caches
.tmp/
.temp/
.cache/
